<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mirea.censusinfo">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.CensusInfo">

        <!-- точки входа -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity"
                  android:exported="false"/>

        <!-- UI-экран по ролям -->
        <activity android:name=".ui.CitizenActivity"     android:exported="false"/>
        <activity
            android:name="ru.mirea.censusinfo.ui.AllFormsActivity"
            android:exported="false"/>
        <activity android:name=".ui.CensusTakerActivity"
                  android:exported="false"
                  android:theme="@style/Theme.CensusInfo"/>
        <activity android:name=".ui.StatsActivity"       android:exported="false"/>
        <activity android:name=".ui.HouseholdFormActivity"
                  android:exported="false"/>

        <!-- форма новой анкеты гражданина -->
        <activity
            android:name=".ui.CitizenFormActivity"
            android:exported="false"/>
            <activity
                android:name=".ui.AllFormsActivity"
                android:theme="@style/Theme.CensusInfo" />
        <activity android:name=".ui.SupportActivity" android:exported="false"/>

        <!-- (если нужен) -->
        <activity android:name=".MainActivity" android:exported="false"/>
    </application>
</manifest>
